<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <ul>
    <% persons.forEach(function(person){ %>
     <li><%= person._id  %> </li>
        <li> <%= person.name  %> </li>
        <li><%= person.roll  %></li>
        <li><a href="/update/<%= person._id  %>">update</a></li>
        <li><a href="/delete/<%= person._id  %>">delete</a></li>
        <% })%>
   </ul>
</body>
</html>